<form class="form-horizontal form-material" [formGroup]="form">
    <div class="form-group">
        <div class="col-md-12 m-b-20">
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            <span *ngIf="campoNoEsValido('name')" style="color: #d63c3c; font-size: 12px">Debes ingresar un nombre de usuario.</span>
        </div>
        <div class="col-md-12 m-b-20">
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
            <span *ngIf="campoNoEsValido('email')" style="color: #d63c3c; font-size: 12px">Debes ingresar un email valido.</span>
        </div>
        <!-- <div class="col-md-12 m-b-20">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <span *ngIf="campoNoEsValido('password')" style="color: #d63c3c; font-size: 12px">Debes ingresar una contraseña válida, esta debe contener al menos una mayúscula y un número como mínimo.</span>
        </div>
        <div class="col-md-12 m-b-20">
            <input type="password" class="form-control" placeholder="Repeat Password" formControlName="password2">
            <span *ngIf="campoNoEsValido('password2')" style="color: #d63c3c; font-size: 12px">Debes ingresar una contraseña válida, esta debe contener al menos una mayúscula y un número como mínimo.</span>
        </div> -->

        <div class="col-12 mt-2 form-group" *ngIf="form?.errors?.['sonIguales'] && form?.get('password2')?.touched">
            <span style="color: #d63c3c; font-size: 12px">Las contraseñas deben ser iguales.</span>
        </div>

        <div class="col-md-12 m-b-20">
            <div class="demo-checkbox">

                <input type="checkbox" id="md_checkbox_28" class="filled-in chk-col-cyan" formControlName="check1">
                <label for="md_checkbox_28">ADMIN</label>


                <input type="checkbox" id="md_checkbox_29" class="filled-in chk-col-cyan" formControlName="check2">
                <label for="md_checkbox_29">DOCENTE</label>

                <input type="checkbox" id="md_checkbox_30" class="filled-in chk-col-cyan" formControlName="check3">
                <label for="md_checkbox_30">ESTUDIANTE</label>

                <input type="checkbox" id="md_checkbox_31" class="filled-in chk-col-cyan" formControlName="check4">
                <label for="md_checkbox_31">PARENTS</label>

            </div>
        </div>
<!-- 
        <div class="col-md-12 m-b-20">
            <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-desktop stretch-card">
                
                <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light"><span><i
                            class="ion-upload m-r-5"></i>Upload Contact Image</span>
                    <input (change)="seleccionImage($event.target)"   type="file" class="upload" id="customFile">
                </div>
                <br>
                <br>
                <img  [src]="user.img | imagen" style="width: 100px; height: 100px;" class="rounded float-left">
                <img  *ngIf="imagenSubirTemp" [src]="imagenSubirTemp" style="margin-left: 4%; width: 100px; height: 100px;" class="rounded float-left">


                <br>
                <br>
                <p style="margin-top: 14%;">Progreso de carga</p>
                <div class="progress progress-xs margin-vertical-10 ">
                    <div class="progress-bar bg-danger"></div>
                </div>
                <div class="progress progress-xs margin-vertical-10 ">
                  <div class="progress-bar bg-danger"    id="barraProgreso"
                  #barraProgreso role="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax=""></div>
                </div>

                <div class="custom-file mt-4">
                    <input  class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Eliga una imagen</label>
                  </div>

            </div>
        </div> -->
    </div>
    <button type="button" class="btn btn-info waves-effect" [disabled]="form.invalid" (click)="onSubmit()">Actualizar</button>
    <button type="button" class="btn btn-default waves-effect" (click)="cancel()">Cancel</button>
</form>