<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User list</h4>
                <form class="app-search">
                    <input #termino type="text" name="" (keyup)="buscar(termino.value)"  class="form-control" placeholder="Search"> 
                 </form>

                <div class="text-right">
                    <ul class="pagination">
                        <!-- <li class="page-item" style="cursor: pointer;"><a class="page-link" (click)="prev()">Anteriores</a></li> -->
                        <!-- <li class="page-item"><a class="page-link" >1</a></li>
                        <li class="page-item"><a class="page-link" >2</a></li>
                        <li class="page-item"><a class="page-link" >3</a></li> -->
                        <!-- <li class="page-item" style="cursor: pointer;"><a class="page-link" (click)="next()" >Siguientes</a></li> -->
                    </ul>
                </div>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Identity</th>
                                <th>Role</th>
                                <th>Username</th>
                                <th>Created</th>
                                <th>Active</th>
                                <th>Delete</th>
                                <th>Updated</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of auxUsersBack; let i=index">
                                <td *ngIf="user?.isActive">{{i+1}}</td>
                                <td style="cursor: pointer;" *ngIf="user?.isActive">
                                    <a data-toggle="tooltip" data-original-title="change image">
                                        <img  [src]="user.img | imagen" alt="alternative text" title="change image" width="40"
                                            class="img-circle" /> {{user?.name}}
                                    </a>
                                </td>
                           

                                <td *ngIf="user?.isActive">{{user?.email}}</td>
                                <td *ngIf="user?.isActive">{{user.nro_identity}}</td>
                                <td *ngIf="user?.isActive">
                                    <span class="label label-danger">
                                        {{ (user.roles.length == 0) ? 'SIN ROLES': user.roles  }}

                                    </span> </td>
                                <td *ngIf="user?.isActive">{{user?.username}}</td>
                                <td *ngIf="user?.isActive">{{user?.created}}</td>
                                <td *ngIf="user?.isActive">{{ (user?.isActive) ? 'Activo' : 'No Activo' }}</td>
                                <td *ngIf="user?.isActive" style="text-align: center;">
                                    <button (click)="delete(user)" type="button"
                                        class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                                        data-toggle="tooltip" data-original-title="Delete">
                                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                                    </button>
                                </td>


                                 <td  *ngIf="user?.isActive" data-toggle="modal" 
                                 data-target="#updateUser" (click)="updated(user)" style="cursor: pointer; text-align: center !important" >
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                    <!-- <button type="button" class="btn btn-info btn-rounded" data-toggle="modal"
                                        data-target="#updateUser">
                                    </button> -->
                                </td>
                                <!-- <td *ngIf="user?.isActive">
                                    <button type="button" (click)="updated(user)" data-toggle="modal"
                                    data-target="#updateUser"
                                        class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                                        data-toggle="tooltip" data-original-title="Updated">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                </td> -->
                                <td style="text-align: center;" (click)="detail(user)" data-toggle="modal"  data-target="#detailsUser" style="cursor: pointer;" >
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" style="border-top:none" *ngIf="user?.roles?.includes('ADMIN')">
                                    <button type="button" class="btn btn-info btn-rounded" data-toggle="modal"
                                        data-target="#addcontact">Nuevo usuario</button>
                                </td>

                                <div id="addcontact" class="modal fade in" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                                    data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body" style="margin-top: -9%">
                                                <div class="form-group m-t-40 mb-0">
                                                    <div class="col-xs-12">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Registrate con:</label>
                                                                <select [(ngModel)] = "selectedUser"   class="form-control custom-select"
                                                                    (change)="selectChamge($event)">
                                                                    <option [ngValue]="null" selected disabled>Select User</option>
                                                                    <option *ngFor="let opt of optionsToLogin"
                                                                        [value]="opt.value">{{opt.title}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <app-register-by-email (setDefaultEmail)="setDefault($event)" (formValueEmail)="recibeValueForm($event)"
                                                    *ngIf="isCorreo"></app-register-by-email>
                                                <app-register-by-use-name (setDefaultEmail)="setDefault($event)" *ngIf="isUser"
                                                    (formValueUsername)="recibeValueForm($event)"></app-register-by-use-name>
                                                <app-register-by-identity (setDefaultEmail)="setDefault($event)" *ngIf="isIdentification"
                                                    (formValueIdentity)="recibeValueForm($event)"></app-register-by-identity>
                                            </div>
                                            <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </tr>


                            <tr>
                                <div id="updateUser" class="modal fade in" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
                                    data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body" style="margin-top: -9%">
                                                <div class="form-group m-t-40 mb-0">
                                                    <div class="col-xs-12">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Actualizar Usuario:</label>
                                                                <select [(ngModel)] = "selectedUser"  class="form-control custom-select"
                                                                    (change)="selectChamge($event)">
                                                                    <option [ngValue]="null" selected disabled>Select User</option>
                                                                    <option *ngFor="let opt of optionsToLoginDefault"
                                                                        [value]="opt.value">{{opt.title}}</option>
                                                                </select>
                                                                <!-- <select *ngIf="isUser && !isCorreo && !isIdentification" class="form-control custom-select"
                                                                (change)="selectChamge($event)">
                                                                <option *ngFor="let opt of optionsToLogin"
                                                                    [value]="opt.value">{{opt.title}} - {{isCorreo}} -- {{isUser}}</option>
                                                            </select> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <app-update-by-email (setDefaultEmail)="setDefault($event)" [user]="userSend" (formValueEmail)="recibeUpdate($event)" *ngIf="isCorreo"></app-update-by-email>

                                                <app-update-by-username (setDefaultEmail)="setDefault($event)" (formValueUsername)="recibeUpdate($event)" [user]="userSend" *ngIf="isUser"></app-update-by-username>

                                                <app-update-by-identity (setDefaultEmailDefault)="setDefault($event)" *ngIf="isIdentification" (formValueNroIdentity)="recibeUpdate($event)" [user]="userSend"></app-update-by-identity>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </tr>



                            <!-- details -->
                            <tr>
                                <div id="detailsUser" class="modal fade in" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true"
                                    data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body" style="margin-top: -9%">
                                                <div class="form-group m-t-40 mb-0">
                                                    <div class="col-xs-12">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Detalles Usuario:</label>
                                                                <!-- <select [(ngModel)] = "selectedUser"  class="form-control custom-select"
                                                                    (change)="selectChamge($event)">
                                                                    <option [ngValue]="null" selected disabled>Select User</option>
                                                                    <option *ngFor="let opt of optionsToLoginDefault"
                                                                        [value]="opt.value">{{opt.title}} - {{isCorreo}} -- {{isUser}} -- {{isIdentification}}</option>
                                                                </select> -->
                                                                <!-- <select *ngIf="isUser && !isCorreo && !isIdentification" class="form-control custom-select"
                                                                (change)="selectChamge($event)">
                                                                <option *ngFor="let opt of optionsToLogin"
                                                                    [value]="opt.value">{{opt.title}} - {{isCorreo}} -- {{isUser}}</option>
                                                            </select> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                    <app-details-user [user]="userDetail"></app-details-user>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </tr>





                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>