<div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="registerform" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3 class="box-title m-b-20">Sign Up</h3>


                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="username" type="text" placeholder="Username">
                        <span *ngIf="campoNoEsValido('username')" style="color: #d63c3c; font-size: 12px">Debes ingresar un nombre de usuario.</span>
                    </div>
                </div>



                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="email" type="email"  placeholder="Email">
                        <span *ngIf="campoNoEsValido('email')" style="color: #d63c3c; font-size: 12px">Debes ingresar un nombre de usuario.</span>
                    </div>
                </div>


                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input  name="identification"  maxlength="13" formControlName="nro_identity" class="form-control" type="text" placeholder="Identification de usuario"
                        [value]="(form.controls['nro_identity'].value) | formatRut" (keyup)="blurRutInput()"
                        (keyup)="blurRutInput()"
                        (keypress)="caracteresRut($event)" (focus)="focusRutInput()" (blur)="blurRutInput()">
                        <div *ngIf="campoNoEsValido('nro_identity')" style="margin-top: 5px; color: red;">
                            La Identification es requerida
                        </div>
                        <!-- form.get(')?.errors?.validRut === false -->
            
                        <div *ngIf="form.get('nro_identity')?.errors && form.controls['nro_identity']?.errors?.['validRut'] === false" style="margin-top: 5px; color: red;">
                            Debe
                            ingresar una identificarion válida
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password" type="password"  placeholder="******">
                        <span *ngIf="campoNoEsValido('password')" style="color: #d63c3c; font-size: 12px">Debes ingresar una contraseña válida, esta debe contener al menos una mayúscula y un número como mínimo.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password2" type="password"  placeholder="******">
                        <span *ngIf="campoNoEsValido('password2')" style="color: #d63c3c; font-size: 12px">Debes ingresar una contraseña válida, esta debe contener al menos una mayúscula y un número como mínimo.</span>
                    </div>
                </div>

    
            
                <div class="col-12 mt-2 form-group" *ngIf="form?.errors?.['sonIguales'] && form?.get('password2')?.touched">
                    <span style="color: #d63c3c; font-size: 12px">Las contraseñas deben ser iguales.</span>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-success p-t-0">
                            <input id="checkbox-signup" formControlName="agree" type="checkbox"  class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center p-b-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Registrarse</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Already have an account? <a (click)="goToLogin()" class="text-info m-l-5" style="cursor: pointer;"><b>Login</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>